
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
  }

body{
   font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000;
    background-image: url(../img/O\ melhor\ caminho\ você\ descobre\ aqui\ \(1\).svg);
    background-color: #DDBFEC;
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-bar{
    width: 1530px;
    height: 99px;
    border-radius: 10px;
    background-color: #947FE4;
    color: #fff;
    
    display: flex;
    flex-direction: row;
}

.logo{
  width: 250px;
  height: 100px;
  padding-left: 40px;
  padding-top: 5.5px;
}



.nav-itens{
  padding-left: 800px;
  padding-top: 30px;
  word-spacing: 20px;
}

.btn-entrar{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #5433B8;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}


  .itens{
    text-decoration: none;
    color: rgb(228, 213, 235)
  }

  .formulario{
    width: 513px;
    height: 315px;
    border-radius: 10px;
    background-color: #947FE4;    
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    margin-top: 100px;
    color: #fff;
}

.form{
  padding-top: 45px;
}

.form-conteudo{
  color: #fff;
  font-family: 'Inter', sans-serif;
  background-color: #DDBFEC;

  width: 400px;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding-top: 9px;
  padding: 9px;
}

.check{
  color: #fff;
  padding-top: 50px;
  padding: 5px;
}

.btn-destino{
  width: 214px;
  height: 38px;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  color: #4D0B6D;
  border: 1px solid #DDBFEC;
  cursor: pointer;
}

.conteudo-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

  */

  .name{
    color: #5433B8;
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
  }

  .box1{
    width: 295px;
    height: 350px;
    top: 810px;
    background: #947FE4;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    padding: 30px;
    text-align: justify;
  }

  .box2{
    width: 295px;
    height: 350px;
    top: 810px;
    background: #947FE4;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    padding: 30px;
    text-align: justify;
  }

  .box3{
    width: 295px;
    height: 350px;
    top: 810px;
    background: #947FE4;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    padding: 30px;
    text-align: justify;
  }

  .btn{
  box-sizing: border-box;
  width: 189px;
  height: 38px;
  top: 1147px;
  color: #4D0B6D;
  background: #FEFDFF;
  border: 1px solid #5433B8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  text-align: center;
  cursor: pointer;
  }

  .botao{
    display: flex;
    justify-content: center;
  }

  .conteudo{
    display: flex;
    justify-content:center;
    flex-direction: row;
    gap: 35px;
    margin-top: 15px;
  }

.titulo-dest{
  color: #5433B8;
  font-family: 'Inter', sans-serif;
  padding-top: 280px;
}

.caixa-form-aling{
  display: flex;
  justify-content: center;
}
.rodapé{
  margin-top: 90px;
  background-color: #5433B8;
  height: 70px;
  width: 100%;

}
.frase-final{
  margin-top: 25px;
  color: #fff;
}

.group2{
width: 8px;
height: 64px;
left: 650px;
top: 1062px;
}


.btn:hover{
   background: transparent;
   box-shadow: none;
    color: #DDBFEC;
}

.btn-destino:hover{
  background: transparent;
  box-shadow: none;
  color: #DDBFEC;
}

.btn-entrar:hover{
  background:#947FE4;
  box-shadow: none;
}

@media only screen and (max-width:772px) {
  
	body{
		display: flex;
		flex-flow: collumn wrap;
	}
}



@media only screen and (max-width:576px) {

  body{
    display: flex;
		flex-flow: collumn wrap;
	}
}